* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  flex-wrap: wrap;
  color: #f85656;
  
}

.square {
  width: 14px;
  height: 14px;
  background-color: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
}

.game_over {
  display: none;
  width: 100%;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
  color: #fffffffd;
}

.startButton {
  display: inline-block;
  color: #fffffffd;
  text-decoration: none;
  margin: 30px;
}

.button {
  display: none;
  color: #fffffffd;
  text-decoration: none;
  margin: 30px;
}

.start_game {
  display: block;
  width: 100%;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
  color: #fffffffd;
}

.boardSize {
  display: inline-block;
  color: #fffffffd;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.speed {
  display: inline-block;
  color: #fffffffd;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}